.MyButton {
  width: 90px;
  display: inline;
  margin-left: 18px;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  background-color: #434345;
  color: #fff;
  cursor: pointer;
  transition: 0.15s ease;
  font-weight: bold;
}

.MyButton:hover {
  background-color: #2f2f30;
}