* {
  font-family: 'Roboto', sans-serif;
}

.general {
  margin-top: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.label {
  font-size: 1.15rem;
}

.input {
  display: block;
  margin-bottom: 16px;
  background-color: lightgray;
  border: none;
  border-radius: 16px;
  padding: 0.35rem 1rem;
}